<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_0010_wu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,529}</string>
                <key>spriteSourceSize</key>
                <string>{10,529}</string>
                <key>textureRect</key>
                <string>{{1,13},{10,529}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_0013_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,720}</string>
                <key>spriteSourceSize</key>
                <string>{10,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0003_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,48}</string>
                <key>spriteSourceSize</key>
                <string>{140,48}</string>
                <key>textureRect</key>
                <string>{{188,25},{140,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0012_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{911,1},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0014_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{895,78},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0015_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{265,75},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0016_audio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{188,75},{75,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0017_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{111,39}</string>
                <key>textureRect</key>
                <string>{{330,25},{111,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0018_msg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{92,39}</string>
                <key>textureRect</key>
                <string>{{330,66},{92,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0019_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,52}</string>
                <key>spriteSourceSize</key>
                <string>{186,52}</string>
                <key>textureRect</key>
                <string>{{723,1},{186,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0020_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,52}</string>
                <key>spriteSourceSize</key>
                <string>{185,52}</string>
                <key>textureRect</key>
                <string>{{1,25},{185,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0021_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,52}</string>
                <key>spriteSourceSize</key>
                <string>{186,52}</string>
                <key>textureRect</key>
                <string>{{707,55},{186,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,103}</string>
                <key>spriteSourceSize</key>
                <string>{173,103}</string>
                <key>textureRect</key>
                <string>{{532,13},{173,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{443,25},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{987,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8725bcb9569a84ef7479f4a9d133fb18:d20217226579504ac44602b2229b13cb:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
