<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TXK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{1382,200},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,48}</string>
                <key>spriteSourceSize</key>
                <string>{140,48}</string>
                <key>textureRect</key>
                <string>{{1164,80},{140,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,37}</string>
                <key>spriteSourceSize</key>
                <string>{161,37}</string>
                <key>textureRect</key>
                <string>{{1008,188},{161,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_0010_wu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,529}</string>
                <key>spriteSourceSize</key>
                <string>{10,529}</string>
                <key>textureRect</key>
                <string>{{723,1},{10,529}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_0013_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,720}</string>
                <key>spriteSourceSize</key>
                <string>{10,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,138}</string>
                <key>spriteSourceSize</key>
                <string>{106,138}</string>
                <key>textureRect</key>
                <string>{{1024,80},{106,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,276}</string>
                <key>spriteSourceSize</key>
                <string>{210,276}</string>
                <key>textureRect</key>
                <string>{{571,13},{210,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1349,200},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khblnl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,61}</string>
                <key>spriteSourceSize</key>
                <string>{246,61}</string>
                <key>textureRect</key>
                <string>{{849,13},{246,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0001_lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,70}</string>
                <key>spriteSourceSize</key>
                <string>{568,70}</string>
                <key>textureRect</key>
                <string>{{1,169},{568,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0003_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,48}</string>
                <key>spriteSourceSize</key>
                <string>{140,48}</string>
                <key>textureRect</key>
                <string>{{1164,130},{140,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0004_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{1319,42},{36,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0014_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1280,42},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0015_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{1302,200},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0016_audio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{1306,80},{75,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0017_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{111,39}</string>
                <key>textureRect</key>
                <string>{{1280,1},{111,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0018_msg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{92,39}</string>
                <key>textureRect</key>
                <string>{{1171,180},{92,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,553}</string>
                <key>spriteSourceSize</key>
                <string>{154,553}</string>
                <key>textureRect</key>
                <string>{{1,13},{154,553}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,65}</string>
                <key>spriteSourceSize</key>
                <string>{181,65}</string>
                <key>textureRect</key>
                <string>{{1097,13},{181,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{1349,80},{75,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{1356,42},{34,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,103}</string>
                <key>spriteSourceSize</key>
                <string>{173,103}</string>
                <key>textureRect</key>
                <string>{{849,76},{173,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{1265,180},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yqts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,61}</string>
                <key>spriteSourceSize</key>
                <string>{157,61}</string>
                <key>textureRect</key>
                <string>{{849,181},{157,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{1306,157},{75,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1392,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d6aafdc87762a006d5979783c7a6ed:00df72b534ac603fa2be45ea9e881797:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
