<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_0010_wu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,529}</string>
                <key>spriteSourceSize</key>
                <string>{10,529}</string>
                <key>textureRect</key>
                <string>{{13,1},{10,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_0013_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,720}</string>
                <key>spriteSourceSize</key>
                <string>{10,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0012_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,739},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0014_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{78,739},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0015_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{1,859},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0016_audio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{1,816},{75,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kun_0017_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{111,39}</string>
                <key>textureRect</key>
                <string>{{79,1},{111,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0018_msg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{92,39}</string>
                <key>textureRect</key>
                <string>{{79,114},{92,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0019_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,52}</string>
                <key>spriteSourceSize</key>
                <string>{186,52}</string>
                <key>textureRect</key>
                <string>{{25,1},{186,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0020_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,52}</string>
                <key>spriteSourceSize</key>
                <string>{185,52}</string>
                <key>textureRect</key>
                <string>{{25,377},{185,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kun_0021_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,52}</string>
                <key>spriteSourceSize</key>
                <string>{186,52}</string>
                <key>textureRect</key>
                <string>{{25,189},{186,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,103}</string>
                <key>spriteSourceSize</key>
                <string>{173,103}</string>
                <key>textureRect</key>
                <string>{{13,564},{173,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{119,901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f7ffa38f4bf511ae51de9da21963ac3:a0b4a0f1f9f2691c0634d158a68a951a:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
