<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{1,367},{358,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{361,1},{358,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{367,361},{358,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{1,727},{358,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{367,727},{358,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{727,1},{358,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{727,361},{358,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{733,721},{358,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{1093,1},{358,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{358,364}</string>
                <key>textureRect</key>
                <string>{{1093,367},{358,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{1452,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18285698b27c6fc6573a121d02e796f9:f074e7ad88e3bc128de93e3c4d53f6db:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
