<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,54}</string>
                <key>spriteSourceSize</key>
                <string>{228,54}</string>
                <key>textureRect</key>
                <string>{{940,150},{228,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,10}</string>
                <key>spriteSourceSize</key>
                <string>{490,10}</string>
                <key>textureRect</key>
                <string>{{846,1},{490,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,191}</string>
                <key>spriteSourceSize</key>
                <string>{456,191}</string>
                <key>textureRect</key>
                <string>{{653,1},{456,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ckqph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,101}</string>
                <key>spriteSourceSize</key>
                <string>{271,101}</string>
                <key>textureRect</key>
                <string>{{676,952},{271,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fxdqfh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,102}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{779,952},{178,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{804,459},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{218,218}</string>
                <key>textureRect</key>
                <string>{{647,732},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,130}</string>
                <key>spriteSourceSize</key>
                <string>{103,130}</string>
                <key>textureRect</key>
                <string>{{779,1132},{103,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{858,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{438,957},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kanguanggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,130}</string>
                <key>spriteSourceSize</key>
                <string>{255,130}</string>
                <key>textureRect</key>
                <string>{{515,703},{255,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kgg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{940,380},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanmu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,130}</string>
                <key>spriteSourceSize</key>
                <string>{435,130}</string>
                <key>textureRect</key>
                <string>{{1,886},{435,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lsan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,80}</string>
                <key>spriteSourceSize</key>
                <string>{343,80}</string>
                <key>textureRect</key>
                <string>{{858,150},{343,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{180,184}</string>
                <key>textureRect</key>
                <string>{{494,960},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pifurukou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{1,1181},{141,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qipao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{438,886},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiuzhuhaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,130}</string>
                <key>spriteSourceSize</key>
                <string>{255,130}</string>
                <key>textureRect</key>
                <string>{{867,693},{255,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qzhy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{445,1230},{184,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qzhyfh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,102}</string>
                <key>spriteSourceSize</key>
                <string>{176,102}</string>
                <key>textureRect</key>
                <string>{{883,950},{176,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,149}</string>
                <key>spriteSourceSize</key>
                <string>{271,149}</string>
                <key>textureRect</key>
                <string>{{653,459},{271,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{884,1128},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tc_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,142}</string>
                <key>spriteSourceSize</key>
                <string>{153,142}</string>
                <key>textureRect</key>
                <string>{{350,1018},{153,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,190}</string>
                <key>spriteSourceSize</key>
                <string>{196,190}</string>
                <key>textureRect</key>
                <string>{{804,495},{196,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tq_0003_faqitiaozhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,55}</string>
                <key>spriteSourceSize</key>
                <string>{191,55}</string>
                <key>textureRect</key>
                <string>{{445,1173},{191,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0005_tanchuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,181}</string>
                <key>spriteSourceSize</key>
                <string>{512,181}</string>
                <key>textureRect</key>
                <string>{{1,703},{512,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0006_fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{149,1181},{141,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tq_0007_phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{297,1181},{141,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tq_0008_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,161}</string>
                <key>spriteSourceSize</key>
                <string>{347,161}</string>
                <key>textureRect</key>
                <string>{{1,1018},{347,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0009_LOGO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,700}</string>
                <key>spriteSourceSize</key>
                <string>{650,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{650,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{804,693},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIRes.png</string>
            <key>size</key>
            <string>{1006,1323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a534f1ec534855359af074381bb1fbc8:18468b28997cdebcac3a48f83aeda2a4:2d5f59b1e794dc016d9b210c18c672b5$</string>
            <key>textureFileName</key>
            <string>UIRes.png</string>
        </dict>
    </dict>
</plist>
