<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,10}</string>
                <key>spriteSourceSize</key>
                <string>{490,10}</string>
                <key>textureRect</key>
                <string>{{49,1079},{490,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,191}</string>
                <key>spriteSourceSize</key>
                <string>{456,191}</string>
                <key>textureRect</key>
                <string>{{49,886},{456,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ckqph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,101}</string>
                <key>spriteSourceSize</key>
                <string>{271,101}</string>
                <key>textureRect</key>
                <string>{{269,1242},{271,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fxdqfh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,102}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{647,1320},{178,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{247,1472},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{218,218}</string>
                <key>textureRect</key>
                <string>{{49,1091},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,130}</string>
                <key>spriteSourceSize</key>
                <string>{103,130}</string>
                <key>textureRect</key>
                <string>{{701,438},{103,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{624,1171},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,46}</string>
                <key>spriteSourceSize</key>
                <string>{616,46}</string>
                <key>textureRect</key>
                <string>{{653,1},{616,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jdt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,46}</string>
                <key>spriteSourceSize</key>
                <string>{616,46}</string>
                <key>textureRect</key>
                <string>{{1,886},{616,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{653,619},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kanguanggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{247,1345},{255,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kgg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{697,824},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanmu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,130}</string>
                <key>spriteSourceSize</key>
                <string>{435,130}</string>
                <key>textureRect</key>
                <string>{{701,1},{435,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lsan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,80}</string>
                <key>spriteSourceSize</key>
                <string>{343,80}</string>
                <key>textureRect</key>
                <string>{{542,1016},{343,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{180,184}</string>
                <key>textureRect</key>
                <string>{{515,703},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pifurukou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{350,1472},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qipao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{647,1500},{66,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiuzhuhaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{507,889},{255,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qzhy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{751,1320},{184,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qzhyfh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,102}</string>
                <key>spriteSourceSize</key>
                <string>{176,102}</string>
                <key>textureRect</key>
                <string>{{701,543},{176,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,149}</string>
                <key>spriteSourceSize</key>
                <string>{271,149}</string>
                <key>textureRect</key>
                <string>{{269,1091},{271,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{697,721},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tc_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,142}</string>
                <key>spriteSourceSize</key>
                <string>{153,142}</string>
                <key>textureRect</key>
                <string>{{624,1016},{153,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,190}</string>
                <key>spriteSourceSize</key>
                <string>{196,190}</string>
                <key>textureRect</key>
                <string>{{49,1311},{196,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0003_faqitiaozhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,55}</string>
                <key>spriteSourceSize</key>
                <string>{191,55}</string>
                <key>textureRect</key>
                <string>{{768,824},{191,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tq_0005_tanchuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,181}</string>
                <key>spriteSourceSize</key>
                <string>{512,181}</string>
                <key>textureRect</key>
                <string>{{1,703},{512,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0006_fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{504,1361},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0007_phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{493,1509},{141,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tq_0008_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,161}</string>
                <key>spriteSourceSize</key>
                <string>{347,161}</string>
                <key>textureRect</key>
                <string>{{1,1504},{347,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0009_LOGO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,700}</string>
                <key>spriteSourceSize</key>
                <string>{650,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{650,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{247,1311},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIRes.png</string>
            <key>size</key>
            <string>{832,1666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af384bd094bf7f6b3a35e7160d2c4191:11b4a9b12cfa2e12c347286f187c17cc:2d5f59b1e794dc016d9b210c18c672b5$</string>
            <key>textureFileName</key>
            <string>UIRes.png</string>
        </dict>
    </dict>
</plist>
