<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,10}</string>
                <key>spriteSourceSize</key>
                <string>{490,10}</string>
                <key>textureRect</key>
                <string>{{1009,1},{490,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,191}</string>
                <key>spriteSourceSize</key>
                <string>{456,191}</string>
                <key>textureRect</key>
                <string>{{653,1},{456,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ckqph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,101}</string>
                <key>spriteSourceSize</key>
                <string>{271,101}</string>
                <key>textureRect</key>
                <string>{{804,459},{271,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{758,732},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanmu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,130}</string>
                <key>spriteSourceSize</key>
                <string>{435,130}</string>
                <key>textureRect</key>
                <string>{{1,886},{435,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{180,184}</string>
                <key>textureRect</key>
                <string>{{572,732},{180,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pifurukou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{907,493},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,149}</string>
                <key>spriteSourceSize</key>
                <string>{271,149}</string>
                <key>textureRect</key>
                <string>{{653,459},{271,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{846,350},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0003_faqitiaozhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,55}</string>
                <key>spriteSourceSize</key>
                <string>{191,55}</string>
                <key>textureRect</key>
                <string>{{515,703},{191,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tq_0005_tanchuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,181}</string>
                <key>spriteSourceSize</key>
                <string>{512,181}</string>
                <key>textureRect</key>
                <string>{{1,703},{512,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0006_fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{907,641},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0007_phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{907,789},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tq_0008_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,161}</string>
                <key>spriteSourceSize</key>
                <string>{347,161}</string>
                <key>textureRect</key>
                <string>{{846,1},{347,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tq_0009_LOGO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,700}</string>
                <key>spriteSourceSize</key>
                <string>{650,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{650,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhunxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{438,886},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIRes.png</string>
            <key>size</key>
            <string>{1049,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a37da47f98ab3b8facebc69cdfe65547:8fd41429613ff39872e315eb0c4cfc80:2d5f59b1e794dc016d9b210c18c672b5$</string>
            <key>textureFileName</key>
            <string>UIRes.png</string>
        </dict>
    </dict>
</plist>
