<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,110}</string>
                <key>spriteSourceSize</key>
                <string>{165,110}</string>
                <key>textureRect</key>
                <string>{{1809,129},{165,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,85}</string>
                <key>spriteSourceSize</key>
                <string>{210,85}</string>
                <key>textureRect</key>
                <string>{{998,75},{210,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,53}</string>
                <key>spriteSourceSize</key>
                <string>{205,53}</string>
                <key>textureRect</key>
                <string>{{569,175},{205,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,108}</string>
                <key>spriteSourceSize</key>
                <string>{221,108}</string>
                <key>textureRect</key>
                <string>{{346,99},{221,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,71}</string>
                <key>spriteSourceSize</key>
                <string>{145,71}</string>
                <key>textureRect</key>
                <string>{{1437,1},{145,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{1210,75},{216,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,79}</string>
                <key>spriteSourceSize</key>
                <string>{216,79}</string>
                <key>textureRect</key>
                <string>{{1260,156},{216,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,77}</string>
                <key>spriteSourceSize</key>
                <string>{276,77}</string>
                <key>textureRect</key>
                <string>{{423,1},{276,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,211}</string>
                <key>spriteSourceSize</key>
                <string>{93,211}</string>
                <key>textureRect</key>
                <string>{{569,80},{93,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,96}</string>
                <key>spriteSourceSize</key>
                <string>{295,96}</string>
                <key>textureRect</key>
                <string>{{126,1},{295,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,119}</string>
                <key>spriteSourceSize</key>
                <string>{218,119}</string>
                <key>textureRect</key>
                <string>{{126,99},{218,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,79}</string>
                <key>spriteSourceSize</key>
                <string>{172,79}</string>
                <key>textureRect</key>
                <string>{{1428,74},{172,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,71}</string>
                <key>spriteSourceSize</key>
                <string>{220,71}</string>
                <key>textureRect</key>
                <string>{{1215,1},{220,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{214,90}</string>
                <key>textureRect</key>
                <string>{{782,80},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,78}</string>
                <key>spriteSourceSize</key>
                <string>{224,78}</string>
                <key>textureRect</key>
                <string>{{1034,162},{224,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,51}</string>
                <key>spriteSourceSize</key>
                <string>{135,51}</string>
                <key>textureRect</key>
                <string>{{776,175},{135,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,90}</string>
                <key>spriteSourceSize</key>
                <string>{171,90}</string>
                <key>textureRect</key>
                <string>{{1602,56},{171,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,78}</string>
                <key>spriteSourceSize</key>
                <string>{123,78}</string>
                <key>textureRect</key>
                <string>{{1775,49},{123,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,72}</string>
                <key>spriteSourceSize</key>
                <string>{257,72}</string>
                <key>textureRect</key>
                <string>{{956,1},{257,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,77}</string>
                <key>spriteSourceSize</key>
                <string>{253,77}</string>
                <key>textureRect</key>
                <string>{{701,1},{253,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,123}</string>
                <key>spriteSourceSize</key>
                <string>{232,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,81}</string>
                <key>spriteSourceSize</key>
                <string>{192,81}</string>
                <key>textureRect</key>
                <string>{{1478,155},{192,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,46}</string>
                <key>spriteSourceSize</key>
                <string>{107,46}</string>
                <key>textureRect</key>
                <string>{{1709,1},{107,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{1818,1},{92,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,78}</string>
                <key>spriteSourceSize</key>
                <string>{135,78}</string>
                <key>textureRect</key>
                <string>{{1672,148},{135,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,53}</string>
                <key>spriteSourceSize</key>
                <string>{123,53}</string>
                <key>textureRect</key>
                <string>{{1584,1},{123,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,56}</string>
                <key>spriteSourceSize</key>
                <string>{119,56}</string>
                <key>textureRect</key>
                <string>{{913,172},{119,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>urge.png</string>
            <key>size</key>
            <string>{1975,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6ffd3d654c590be1e561928cf0ba3e5:64bceac5ef4380b636ca4324c472394d:31fb09982d0aed0e4bce878b14dcd8da$</string>
            <key>textureFileName</key>
            <string>urge.png</string>
        </dict>
    </dict>
</plist>
